# ==========================
# 🔹 Angular (shopapp-angular)
# ==========================

# Compiled output
shopapp-angular/dist/
shopapp-angular/tmp/
shopapp-angular/out-tsc/
shopapp-angular/bazel-out/

# Node
shopapp-angular/node_modules/
npm-debug.log
yarn-error.log

# Angular cache
shopapp-angular/.angular/cache

# Miscellaneous
shopapp-angular/.sass-cache/
shopapp-angular/connect.lock
shopapp-angular/coverage/
shopapp-angular/libpeerconnection.log
shopapp-angular/testem.log
shopapp-angular/typings/

# ==========================
# 🔹 Spring Boot (shopapp-backend)
# ==========================

# Maven build output
shopapp-backend/target/
!shopapp-backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build output
shopapp-backend/build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs and Editors
.idea/
.project
.classpath
.apt_generated
.factorypath
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/
.history/

# ==========================
# 🔹 Hệ thống (Windows, macOS, Linux)
# ==========================
.DS_Store
Thumbs.db
