<style>
    .intro-section {
        text-align: center;
        color: white;
        padding: 20px;
    }


</style>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị các danh sách sản phẩm, kèm ảnh</p>
        <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
    </div>
    <!-- Đoạn này có 1 ô searchbox bên trái, 1 combo box bên phải -->
     <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Đồ da dụng</option>
        </select>
    </div>
</div>